<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <!-- <div formArrayName="NameList"> -->
  <h3>Aliases</h3>
  <button (click)="addAlias()">Add Person</button>

  <div *ngFor="let n of NameLists.controls; let i=index">
    <app-form-data [FormRefrence]="i" [formGroup]="profileForm"></app-form-data>
  </div>
  <!-- </div> -->

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<hr />

<p>
  Form Value: {{ profileForm.value | json }}
</p>

<p>
  Form Status: {{ profileForm.status }}
</p>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
